@media print { 
    body * {
        visibility: hidden;
    }
   #relatorio, #relatorio * {
        visibility: visible;
    }
    #relatorio {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
body{
    background-color: #F7E1C5;
    color:#000000;
}
header{
    background-color: #AD3A38 ;
    width: auto;
    height: 150px;
    }
    footer{
    background-color: #AD3A38;
    width: auto;
    height: 150px;
}
.pé{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}
.lado {
    display: flex; 
    justify-content: space-around; 
    align-items:flex-start; 
    gap: 20px; 
}

.texto {
    width: 45%;
    padding: 25px;
    background-color: rgb(187, 87, 86);
    border: 1px solid #000000;
    border-radius: 8px;
    
}


  /*Cor do texto*/
h2 {      
    color: #333;
}

.lado1 {
    display: flex; 
    justify-content: space-around; 
    align-items:flex-start; 
    gap: 20px; 
}

.texto1 {
    width: 45%;
    padding: 25px;
    background-color: rgb(187, 87, 86);;
    border: 1px solid #000000;
    border-radius: 8px;
    
}

.texto2 {
    width: 45%;
    padding: 25px;
    background-color: rgb(187, 87, 86);;
    border: 1px solid #000000;
    border-radius: 8px;
   
}
.lado2 {
    display: flex; 
    justify-content: space-around; 
    align-items:flex-start; 
    gap: 20px; 
}

.texto2 {
    width: 45%;
    padding: 25px;
    background-color: rgb(187, 87, 86);;
    border: 1px solid #000000;
    border-radius: 8px;
   
}
